{{#each managers}}
<div class="employee manager">
    <h2>Manager</h2>
    <p>Name: {{name}}</p>
    <p>ID: {{id}}</p>
    <p>Role: {{role}}</p>
    <p>Title: {{title}}</p>
    <p>Email: {{email}}</p>
    <p>Office Number: {{officeNumber}}</p>
</div>
{{/each}}